<div class="header">
  <div class="header__title-block">
    <img src="https://avatars.githubusercontent.com/u/22344575?s=460&u=ecfa7061cd0eb0d4d93e9a3c68ad751c2851532f&v=4" alt="Photo of Ryan Forgie" class="profile-photo">
    <h1 class="logo header__title">{{ site.title }}</h1>
  </div>
  <div class="header__link-block">
    <a href="github.com" class="header__link">
      <img src="assets/icons/github.svg" alt="github icon" class="header__icon">
    </a>
    <!-- <a href="github.com" class="header__link">
      <img src="assets/icons/twitter.svg" alt="twitter icon" class="header__icon">
    </a> -->
    <a href="github.com" class="header__link">
      <img src="assets/icons/linkedin.svg" alt="linkedin icon" class="header__icon">
    </a>
  </div>
</div>